


div{margin: auto 500px auto 500px;}
table{border: size 1px; border-style: groove; border-color: darken($color: #1205cf, $amount: 0); margin: 100px 200px auto auto;}
input[type=file]{color: transparent;}
button {background-color: rgb(213, 236, 108);}

    